/* NavBar.scss */

.CuNavigationV3_group__nNAxp {
  background-color: #193f2e;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.CuNavigationV3_trigger__1xofd {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.CuNavigationV3_trigger__1xofd:hover {
  background-color: #145234;
}
