/* index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  /* Скрываем Sidebar на мобильных устройствах */
  .MuiDrawer-root {
    display: none;
  }

  .main-content {
    padding: 20px;
  }
}
